<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">

<dom-module id="forgotpassword-app">
  <template>

   <style>
     :host {
      display: block;
     }
   </style>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form>
          <div class="form-group">
            <input class="form-control" id="inputEmail1" type="email" aria-describedby="emailHelp" placeholder="Introduzca su dirección de email">
          </div>
          <a class="btn btn-primary btn-block" href="login-app.html">Reset Password</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register-app.html">Register an Account</a>
          <a class="d-block small" href="login-app.html">Login Page</a>
        </div>
      </div>
    </div>
  </div>
</body>

</template>

<script>
        /*
         * ForgotpasswordApp
         */
                   class ForgotpasswordApp extends Polymer.Element {
                   static get is() { return 'forgotpassword-app'; }
                   static get properties() {
                     return {
                       propUser1: {
                         type: String,
                       },
                       propPassword2: {
                         type: String,
                         value:"Resultado incorrecto"
                       },
                     };
                   }
                   validar()
                   {
                     if (this.prop1== "Silvia.arranz@bbva.com")
                        {
                         this.prop2= "Recibirás un mensaje en tu email. Sigue instrucciones";
                        }
                     this.dispatchEvent(new CustomEvent('passrecovered', {detail: {"userId":this.propUser1, "password":this.propPassword2}}));

                     }
                 }

                 window.customElements.define(ForgotpasswordApp.is, ForgotpasswordApp);
 </script>
</dom-module>
