<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">

<dom-module id="customerlist-app">
  <template>
    <style>
      :host {
        display: block;
      },
      a {
        background-color: grey;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Listado de movimientos</div>
        <div class="card-body">
          <div class="table-responsive">
            <table  class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Detalle</th>
                  <th>Detalle</th>
                  <th>Importe</th>
                  <th>Disponible</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Detalle</th>
                  <th>Detalle</th>
                  <th>Importe</th>
                  <th>Disponible</th>
                </tr>
              </tfoot>
              <tbody>
                <template is="dom-repeat" items="{{movements}}" as="movement">
                  <tr on-click="showDetailMovement">
                    <td>{{index}}</td>
                    <td>{{movement.fechamov}}</td>
                    <td>{{movement.detallemov1}}</a></td>
                    <td>{{movement.detallemov2}}</td>
                    <td>{{movement.importemov}}</td>
                    <td>{{movement.disponiblemov}}</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Info obtained from MongoDB</div>
      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper PUEDO METER CONTENT-TYPE Y BODY PARA POST-->

    <iron-ajax
        id="requestAJAX"
        url="http://172.18.0.3:3000/user/movements"
        handle-as="json"
        on-response="handleResponse">
    </iron-ajax>
  </template>

  <script>
    class CustomerlistApp extends Polymer.Element {
      static get is() { return 'customerlist-app'; }
      static get properties() {
        return {
           movements: {
            type: Array,
            notify: true
          },
          noLoaded: {
            type: Boolean,
            value: true
          },
          userId: String,
          storedUser: Object
        }
      }

      //AJAX call to retrieve customers when ready
      ready() {
        super.ready();

        console.log("Making AJAX call...");
        this.$.requestAJAX.url = "http://172.18.0.3:3000/user/"+ this.storedUser.name +"/movements";
        this.$.requestAJAX.generateRequest();
      }

      handleResponse(data) {
        console.log(data.detail.response);
        this.movements = data.detail.response;
        var mv = {
        "fechamov": "31 Diciembre 2017",
        "detallemov1": "Adeudossssss Metropolitan Spain S.L.",
        "detallemov2": "Adeudosssss nº20173570009998877",
        "importemov": "-48,00",
        "disponiblemov": "2.600,36"
        }

        this.push('movements', mv);
      }
      showDetailMovement(e) {

        console.log(e.model.movement);
        this.dispatchEvent(new CustomEvent('detailedMovement', {}));

      }

    }

    window.customElements.define(CustomerlistApp.is, CustomerlistApp);
  </script>
</dom-module>
