<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- import SieBrum/brum-global-variable -->
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<!-- import iron-localstorage.html -->
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">


<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">

<dom-module id="login-app">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>

  <app-location route="{{route}}"></app-location>

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

  <iron-ajax
    id="registerLoginAjax"
    method="post"
    content-type="application/json"
    handle-as="text"
    on-response="handleUserResponse"
    on-error="handleUserError">
  </iron-ajax>

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="inputUser1">User</label>
            <input class="form-control" id="inputUser1" type="text" value="{{propUser1::input}}" placeholder=[[propInitialValue4]]>
          </div>
          <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input class="form-control" id="inputPassword1" type="password" value="{{propPassword2::input}}" placeholder=[[propInitialValue5]]>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="{{propRemember3::input}}"> Remember Password</label>
              </div>
            </div>
            <a on-click="loginMethod" class="btn btn-primary btn-block">Login</a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="[[rootPath]]register">Register an Account</a>
            <a class="d-block small" href="[[rootPath]]forgotpassword">Forgot Password?</a>
          </div>
        </div>
      </div>
      <div class="text-center" id="authenticated" hidden$="[[!propLogged6]]">
        <h2>Hello,[[propUser1]]!</h2>
      </div>
    </div>


  </template>

  <script>

  // LoginApp

  class LoginApp extends Polymer.Element {
    static get is() { return 'login-app'; }
    static get properties() {
      return {
        propUser1: {
          type: String
        },
        propPassword2: {
          type: String
        },
        propRemember3: {
          type: String
        },
        propInitialValue4: {
          type: String,
          value:"Introduzca usuario"
        },
        propInitialValue5: {
          type: String,
          value:"Introduzca password"
        },
        propLogged6: {
          type: Boolean,
          value: false
        },
        storedUser: Object,
        error:{
          type: String
        }

      };
    }

    // login method
/*
    loginMethod() {
      //                 var urlLogin="http://servidorback/login";
      //                 var urlLogin="http://localhost:3000/login";
      var urlLogin="http://172.18.03:3000/login";
      var request = new XMLHttpRequest();
      request.open("POST", urlLogin, true);

      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");

      request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText);
          setResponse(true, "");
        }
        else {
          setResponse(false, "Usuario y/o password incorrecto");
        }
      };

      console.log("despues de onreadystate" + this.storedUser.loggedin);

      var validoUsuario = {"login":this.propUser1,"password":this.propPassword2};
      var body = JSON.stringify(validoUsuario);
      console.log(body);
      request.send(body);
      console.log("despues de send" + this.storedUser.loggedin);

    }

    setResponse(logged, errmsg) {
      debugger;
      this.error = errmsg;
      this.storedUser = {
        loggedin: logged
      };
      console.log(this.storedUser.userId);
      console.log("en readystate" + this.storedUser.loggedin);
    }
*/
    _setReqBody() {
        var validoUsuario = {"login":this.propUser1,"password":this.propPassword2};
        var body = JSON.stringify(validoUsuario);
        this.$.registerLoginAjax.body = body;
    }

    loginMethod() {
        console.log("a por la llamada a postgre ");
        this.$.registerLoginAjax.url = 'http://172.18.03:3000/login';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
    }

    handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);

        if (event.detail.response === "true") {
          this.error = '';
          this.storedUser = {
              name: this.propUser1,
              loggedin: true
          };
          this.propLogged6 = true;
          this.dispatchEvent(new CustomEvent('logged', {}));
        }
        else {
          this.error = 'Usuario y/o password incorrecto';
          this.storedUser = {
              name: this.propUser1,
              movements:{},
              loggedin: true
          };
          console.loge(loggedin);
          this.propLogged6 = false;
        }


        // redirect to Secret Quotes
        //this.set('route.path', '/customerlist');


        // reset form data
        //this.formData = {};
    }

    handleUserError(event) {
        this.error = event.detail.request.xhr.response;
    }

  }


  window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
