<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">

<dom-module id="register-app">

  <template>

  <style>
  :host {
    display: block;
  }
  </style>

  <app-location route="{{route}}"></app-location>

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

  <iron-ajax
  id="registerAjax"
  method="post"
  Content-type="application/json"
  handle-as="text"
  on-response="handleUserResponse"
  on-error="handleUserError">
</iron-ajax>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro de usuarios</div>
      <div class="card-body">
        <div class="alert alert-success" id="alertregistered" hidden$="[[propRegistered9]]">
          [[propMessage7]]
        </div>
        <div class="alert alert-danger" id="alertnoregistered" hidden$="[[propNoRegistered6]]">
          [[propMessage8]]
        </div>

        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputName">Nombre</label>
                <input class="form-control" id="inputName1" type="text" value="{{propNombre3::input}}" aria-describedby="nameHelp" placeholder="Introduzca su nombre">
              </div>
              <div class="col-md-6">
                <label for="iputLastName">Apellido</label></label>
                <input class="form-control" id="inputLastName1" type="text" value="{{propApellido4::input}}" aria-describedby="nameHelp" placeholder="Introduzca su apellido">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Dirección Email</label>
            <input class="form-control" id="InputEmail1" type="email" value="{{propEmail5::input}}"aria-describedby="emailHelp" placeholder="Introduzca email">
          </div>
          <div class="form-group">
            <label for="inputUser">Usuario (DNI/NIE)</label>
            <input class="form-control" id="inputUser1" type="text" value="{{propUser1::input}}" aria-describedby="userHelp" placeholder="Introduzca usuario DNI/NIE">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputPassword1">Contraseña</label>
                <input class="form-control" id="inputPassword1" type="password" value="{{propPassword2::input}}" placeholder="Introduzca su Password">
              </div>
            </div>
          </div>
          <a on-click="registerMethod" class="btn btn-primary btn-block" >Register</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="[[rootPath]]login">Login Page</a>
        </div>
      </div>
    </div>
  </div>

</body>

</template>

<script>
/**
* Metodo register
*/
class RegisterApp extends Polymer.Element {
  static get is() { return 'register-app'; }
  static get properties() {
    return {
      propUser1: {
        type: String
      },
      propPassword2: {
        type: String,
        value:""
      },
      propNombre3: {
        type: String,
        value:""
      },
      propApellido4: {
        type: String,
        value:""
      },
      propEmail5: {
        type: String,
        value:""
      },
      propNoRegistered6: {
        type: Boolean,
        value: true
      },
      propMessage7: {
        type: String,
        value:"Usuario registrado con éxito"
      },
      propMessage8: {
        type: String,
        value:"Se ha producido un error al registrar el usuario. Revise sus datos"
      },
      propRegistered9: {
        type: Boolean,
        value: true
      },
      storedUser: {
        loggeind: Boolean,
        iduser:String
      }
    };
  }

  _setReqBody() {
    var registroUsuario = {"login":this.propUser1,"password":this.propPassword2,"nombre":this.propNombre3,"apellidos":this.propApellido4,"email":this.propEmail5};
    var body = JSON.stringify(registroUsuario);
    this.$.registerAjax.body = body;
  }

  registerMethod() {
    this.$.registerAjax.url = 'http://172.18.03:3000/register';
    this._setReqBody();
    this.$.registerAjax.generateRequest();
  }

  handleUserResponse(event) {
    var response = event.detail.response;
    if(response === "true del backtechuarranz"){

      this.storedUser = {
        iduser: this.propUser1,
        loggedin: true
      };
      this.propRegistered9 = false;
      this.propNoRegistered6 = true;
    }
    else {
      this.propNoRegistered6 = false;
      this.propRegistered9 = true;
      this.storedUser = {
        iduser:"",
        loggedin: false
      };
    }


    /*if (event.detail.response === "true") {
    this.error = '';
    this.propLogged6 = true;
    this.storedUser = {
    iduser: this.propUser1,
    loggedin: true
  };
  this.dispatchEvent(new CustomEvent('logged',{}));
}
else {
this.storedUser = {
iduser: this.propUser1,
loggedin: true
};
this.propLogged6 = false;
this.propMessage7 = 'Usuario y/o password incorrecto';
}*/

/*if (this.readyState == 4 && this.status == 200) {
this.respuesta = this.responseText;
this.storedUser = {
iduser: nuevoUsuario.login,
loggedin: true
};
debugger;
this.propRegistered9 = false;
this.propNoRegistered6 = true;
}
else {
this.propNoRegistered6 = false;
this.propRegistered9 = true;
this.storedUser = {
iduser:"",
loggedin: false
};
}*/
}


handleUserError(event) {
  this.error = event.detail.request.xhr.response;
}


/*  var request = new XMLHttpRequest();

var urlRegister="http://172.18.0.3:3000/register";
/*
var urlLogin="http://backtechuarranz/register";
*


request.open("POST", urlRegister, true);
request.setRequestHeader("Accept", "application/json");
request.setRequestHeader("Content-Type", "application/json");

request.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
this.respuesta = this.responseText;
this.storedUser = {
iduser: nuevoUsuario.login,
loggedin: true
};
debugger;
this.propRegistered9 = false;
this.propNoRegistered6 = true;
}
else {
this.propNoRegistered6 = false;
this.propRegistered9 = true;
this.storedUser = {
iduser:"",
loggedin: false
};
}

};
var nuevoUsuario = {"login":this.propUser1,"password":this.propPassword2,"nombre":this.propNombre3,"apellidos":this.propApellido4,"email":this.propEmail5};
var body = JSON.stringify(nuevoUsuario);
request.send(body);*/


}

window.customElements.define(RegisterApp.is, RegisterApp);
</script>
</dom-module>
