<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">


<dom-module id="aliaslist-app">
  <template>
  <style>
  :host {
    display: block;
    },
    a {
      background-color: grey;
    }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Listado de cuentas
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table  class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>#</th>
                <th>Contrato</th>
                <th>Alias</th>
                <th>Disponible</th>
                <th>Dispuesto</th>
                <th>Limite</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Contrato</th>
                <th>Alias</th>
                <th>Disponible</th>
                <th>Dispuesto</th>
                <th>Limite</th>
              </tr>
            </tfoot>
            <tbody>
              <template is="dom-repeat" items="{{cuentas}}" as="cuenta">
                <tr>
                  <td>{{index}}</td>
                  <td>{{cuenta.tipocontrato}}</td>
                  <td>{{cuenta.alias}}</a></td>
                  <td>{{cuenta.disponible}}</td>
                  <td>{{cuenta.dispuesto}}</a></td>
                  <td>{{cuenta.limite}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Info obtained from MongoDB</div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper PUEDO METER CONTENT-TYPE Y BODY PARA POST-->

    <iron-ajax
    id="requestaliasAJAX"
    method="get"
    Content-type="application/json"
    Accept="application/json"
    handle-as="json"
    on-response="handleResponse"
    on-error="handleUserError">
  </iron-ajax>


</template>

<script>
class AliaslistApp extends Polymer.Element {
  static get is() { return 'aliaslist-app'; }
  static get properties() {
    return {
      cuentas: {
        type: Array,
        notify: true
      },
      noLoaded: {
        type: Boolean,
        value: true
      },
      userId: String,
      storedUser: Object
    }
  }

  //AJAX call to retrieve customers when ready
  ready() {
    super.ready();

    this.$.requestaliasAJAX.url = "http://backtechuarranz:3000/user/"+this.storedUser.iduser+"/accounts";
    this.$.requestaliasAJAX.generateRequest();
  }

  handleResponse(data) {
    this.cuentas = data.detail.response;
  }


}

window.customElements.define(AliaslistApp.is, AliaslistApp);
</script>
</dom-module>
