<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- import SieBrum/brum-global-variable -->
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<!-- import iron-localstorage.html -->
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="shared-styles.html">
<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">


<dom-module id="customerlist-app">
  <template>
  <style>
  :host {
    display: block;
    },
    a {
      background-color: grey;
    }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Listado de movimientos
        <button type="button" class="btn btn-default" on-click="newMovementMethod">
          <i class="fa fa-plus" ></i>
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table  class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>#</th>
                <th>Contrato</th>
                <th>Alias</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Observaciones</th>
                <th>Importe</th>
                <th>Disponible</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Contrato</th>
                <th>Alias</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Observaciones</th>
                <th>Importe</th>
                <th>Disponible</th>
              </tr>
            </tfoot>
            <tbody>
              <template is="dom-repeat" items="{{movements}}" as="movement">
                <tr>
                  <td>{{index}}</td>
                  <td>{{movement.tipocontrato}}</td>
                  <td>{{movement.alias}}</a></td>
                  <td>{{movement.fechamov}}</td>
                  <td>{{movement.detallemov1}}</a></td>
                  <td>{{movement.detallemov2}}</td>
                  <td>{{movement.importemov}}</td>
                  <td>{{movement.disponiblemov}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Info obtained from MongoDB</div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper PUEDO METER CONTENT-TYPE Y BODY PARA POST-->

    <iron-ajax
    id="requestcustomerAJAX"
    method="get"
    Content-type="application/json"
    Accept="application/json"
    handle-as="json"
    on-response="handleResponse"
    on-error="handleUserError">
  </iron-ajax>
</template>

<script>
class CustomerlistApp extends Polymer.Element {
  static get is() { return 'customerlist-app'; }
  static get properties() {
    return {
      movements: {
        type: Array,
        notify: true
      },
      noLoaded: {
        type: Boolean,
        value: true
      },
      userId: String,
      storedUser: Object,
      propEventoInfo: Object
    }
  }

  //AJAX call to retrieve customers when ready
  ready() {
    super.ready();

    this.$.requestcustomerAJAX.url = "http://backtechuarranz:3000/user/"+ this.storedUser.iduser +"/movements";
    this.$.requestcustomerAJAX.generateRequest();
  }

  handleResponse(data) {
    this.movements = data.detail.response;
    this.storedUser = {
        nombre: this.movements[0].nombre,
        apellido:this.movements[0].apellido,
        iduser: this.movements[0].iduser,
        tipocontrato: this.movements[0].tipocontrato,
        loggedin: true
      };
  }

  handleUserError(event) {
    this.error = event.detail.request.xhr.response;
  }

  newMovementMethod(){
    this.dispatchEvent(new CustomEvent('transferevent', {}));
  }

}

window.customElements.define(CustomerlistApp.is, CustomerlistApp);
</script>
</dom-module>
