<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="message-app">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>

  Hasta pronto, espero que pases un buen día.

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
</template>

<script>
/**
* @customElement
* @polymer
*/
class MessageApp extends Polymer.Element {
  static get is() { return 'message-app'; }
  static get properties() {
    return {
      storedUser: Object
    };
  }

}

window.customElements.define(MessageApp.is, MessageApp);
</script>
</dom-module>
