<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- import template repeater -->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- import iron-ajax -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- import SieBrum/brum-global-variable -->
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<!-- import iron-localstorage.html -->
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="shared-styles.html">
<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../css/sb-admin.css" rel="stylesheet">

<dom-module id="transfer-app">

  <template>

  <style>
  :host {
    display: block;
  }
  </style>

  <app-location route="{{route}}"></app-location>

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

  <body class="bg-dark">
    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registro de Movimiento</div>
        <div class="card-body">
          <div class="alert alert-danger" id="alertnoregistered" hidden$="[[propNoRegistered6]]">
            [[propMessage8]]
          </div>
          <div class="alert alert-success" id="alertregistered" hidden$="[[propRegistered9]]">
            [[propMessage7]]
          </div>

          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="inputDate">Fecha</label>
                  <input class="form-control" id="inputDate1" type="date" value="{{propFecha1::input}}" aria-describedby="nameHelp" placeholder="fecha del movimiento">
                </div>
                <div class="col-md-6">
                  <label for="inputTypeMov">Alias</label>
                </label>
                <input class="form-control" id="inputAlias1" type="text" value="{{propAlias2::input}}" aria-describedby="nameHelp" placeholder="Introduzca alias">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputImport1">Importe</label>
            <input class="form-control" id="InputImport1" type="text" value="{{propImport3::input}}"aria-describedby="importHelp" placeholder="Introduzca importe">
          </div>
          <div class="form-group">
            <label for="inputDetail">Descripción</label>
            <input class="form-control" id="inputDetail1" type="text" value="{{propDetail4::input}}" aria-describedby="detailHelp" placeholder="Introduzca Operación">
            <label for="inputDetail">Observaciones</label>
            <input class="form-control" id="inputDetail2" type="text" value="{{propDetail5::input}}" aria-describedby="detailHelp" placeholder="Introduzca Observaciones">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputImport">Disponible</label>
                <input class="form-control" id="inputImportMovement" type="text" value="{{propDisponible11::input}}" placeholder="Introduzca disponible">
              </div>
            </div>
          </div>
          <a on-click="registerTransferMethod" class="btn btn-primary btn-block" >Aceptar</a>
        </form>
      </div>
    </div>
  </div>

</body>
<iron-ajax
id="requesttransferAJAX"
method="post"
Content-type="application/json"
handle-as="json"
on-response="handleResponse"
on-error="handleUserError">
</iron-ajax>
</template>

<script>
/**
* Metodo register
*/
class TransferApp extends Polymer.Element {
  static get is() { return 'transfer-app'; }
  static get properties() {
    return {
      propFecha1: {
        type: String
      },
      propAlias2: {
        type: String,
        value:""
      },
      propImport3: {
        type: String,
        value:""
      },
      propDetail4: {
        type: String,
        value:""
      },
      propDetail5: {
        type: String,
        value:""
      },
      propNoRegistered6: {
        type: Boolean,
        value: true
      },
      propRegistered9: {
        type: Boolean,
        value: true
      },
      propMessage8: {
        type: String,
        value:"Transferencia no realizada"
      },
      propMessage7: {
        type: String,
        value:"Transferencia realizada con éxito"
      },
      propContrato10: {
        type: String,
        value:""
      },
      propDisponible11: {
        type: String,
        value:""
      },
      storedUser: Object
    };
  }


  _setReqBody() {

    var newMovement = {"iduser":this.storedUser.iduser,"nombre":this.storedUser.name,"apellido":this.storedUser.apellido,"tipocontrato":this.storedUser.tipocontrato,"alias":this.propAlias2,"fechamov":this.propFecha1,"detallemov1":this.propDetail4,"detallemov2":this.propDetail5,"importemov":this.propImport3,"disponible":this.propDisponible11};
    var body = JSON.stringify(newMovement);
    this.$.requesttransferAJAX.body = body;
  }

  registerTransferMethod() {
    this.$.requesttransferAJAX.url = 'http://backtechuarranz:3000/movement';
    this._setReqBody();
    this.$.requesttransferAJAX.generateRequest();
  }

  handleResponse(data) {

    var response = data.detail.response;
    if(response == true){
         this.propNoRegistered6 = true;
         this.propRegistered9 = false;

    }
    else {
      this.propNoRegistered6 = false;
      this.propRegistered9 = true;
    }
  }

  handleUserError(event) {
    this.error = event.detail.request.xhr.response;
  }
}

window.customElements.define(TransferApp.is, TransferApp);
</script>
</dom-module>
