<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<!-- import SieBrum/brum-global-variable -->
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<!-- import iron-localstorage.html -->
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="icons-app.html">
<link rel="import" href="shared-styles.html">

<link rel="lazy-import" href="login-app.html">
<link rel="lazy-import" href="register-app.html">
<link rel="lazy-import" href="customerlist-app.html">
<link rel="lazy-import" href="transfer-app.html">
<link rel="lazy-import" href="logout-app.html">
<link rel="lazy-import" href="welcome-app.html">
<link rel="lazy-import" href="view404-app.html">


<dom-module id="visor-app">
  <template>
  <style>
  :host {
    --app-primary-color: #4285f4;
    --app-secondary-color: black;

    display: block;
  }

  app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
  }

  app-header {
    color: #fff;
    background-color: var(--app-primary-color);
  }

  app-header paper-icon-button {
    --paper-icon-button-ink-color: white;
  }

  app-header a {
    color: #fff;
    background-color: var(--app-primary-color);
    padding: 0 16px;
  }

  .drawer-list {
    margin: 0 20px;
  }

  .drawer-list a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;
  }

  .drawer-list a.iron-selected {
    color: black;
    font-weight: bold;
  }
  </style>

  <app-location
  route="{{route}}"
  url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>

<iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
<brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


<app-drawer-layout fullbleed narrow="{{narrow}}">
  <!-- Drawer content -->
  <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
    <app-toolbar>Menu</app-toolbar>
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation" hidden$="[[!storedUser.loggedin]]">
      <div>
        <a name="aliaslist" href="[[rootPath]]aliaslist">Lista de cuentas</a>
        <a name="customerlist" href="[[rootPath]]customerlist">Lista de movimientos</a>
      </div>

    </iron-selector>
  </app-drawer>

  <!-- Main content -->
  <app-header-layout has-scrolling-region>

    <app-header slot="header" condenses reveals effects="waterfall">
      <app-toolbar>
        <!--   <paper-icon-button icon="icons-app:menu" drawer-toggle></paper-icon-button> -->
        <div main-title>Movimientos TechU App</div>
        <div  hidden$="[[storedUser.loggedin]]">
          <a name="login" href="[[rootPath]]login">Login</a>
          <a name="register" href="[[rootPath]]register">Register</a>
        </div>
        <div  hidden$="[[!storedUser.loggedin]]">
          <a name="logout" href="[[rootPath]]logout">Logout</a>
        </div>
      </app-toolbar>

    </app-header>

    <iron-pages
    selected="[[page]]"
    attr-for-selected="name"
    fallback-selection="view404"
    role="main">
    <aliaslist-app name="aliaslist"></aliaslist-app>
    <customerlist-app name="customerlist" on-transferevent="transferMethod"></customerlist-app>
    <transfer-app name="transfer" ></transfer-app>
    <login-app name="login" on-logged="loggedInUser"></login-app>
    <register-app name="register"></register-app>
    <logout-app name="logout" on-loggedout="loggedOutUser"></logout-app>
    <welcome-app name="welcome"></welcome-app>
    <view404-app name="view404"></view404-app>
  </iron-pages>
</app-header-layout>
</app-drawer-layout>
</template>

<script>
class VisorApp extends Polymer.Element {
  static get is() { return 'visor-app'; }

  static get properties() {
    return {
      page: {
        type: String,
        reflectToAttribute: true,
        observer: '_pageChanged',
      },
      routeData: Object,
      subroute: String,
      // This shouldn't be neccessary, but the Analyzer isn't picking up
      // Polymer.Element#rootPath
      rootPath: String,
      propData: Object,
      storedUser : {
        iduser:"",
        loggedin: false
      }
    };
  }

  static get observers() {
    return [
      '_routePageChanged(routeData.page)',
    ];
  }

  _routePageChanged(page) {
    // If no page was found in the route data, page will be an empty string.
    // Default to '' in that case.
    this.page = page || 'welcome';

    // Close a non-persistent drawer when the page & route are changed.
    if (!this.$.drawer.persistent) {
      this.$.drawer.close();
    }
  }

  _pageChanged(page) {
    // Load page import on demand. Show 404 page if fails
    var resolvedPageUrl = this.resolveUrl(page + '-app.html');
    Polymer.importHref(
      resolvedPageUrl,
      null,
      this._showPage404.bind(this),
      true);
    }

    _showPage404() {
      this.page = 'view404';
    }

    loggedInUser(){
      this.set('route.path', '/customerlist');
    }

    transferMethod() {
      this.set('route.path', '/transfer');
    }

    loggedOutUser() {
      this.set('route.path', '/message');
    }


  }

  window.customElements.define(VisorApp.is, VisorApp);
  </script>
</dom-module>
